<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="no.rutebanken" level="DEBUG" />
    <logger name="org.entur" level="DEBUG" />
    <logger name="org.springframework" level="INFO" />
    <logger name="com.google.cloud.spring.core.DefaultCredentialsProvider" level="ERROR"/>
</configuration>