<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="no.rutebanken" level="DEBUG"/>
    <logger name="org.entur" level="DEBUG"/>
    <logger name="com.google.cloud.spring.core.DefaultCredentialsProvider" level="ERROR"/>
    <logger name="org.apache.camel.builder.AdviceWith" level="WARN"/>

    <logger name="io.grpc.internal.ManagedChannelOrphanWrapper" level="OFF"/>

</configuration>